.contactForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactFormInput {
  width: 30vw;
}

.contactFormButton {
  margin-block: 20px;
  width: 20vw;
  padding-block: 8px;
  border-radius: 5%;
  border: none;
  box-shadow: 8px 10px 15px -14px rgba(21, 32, 40, 1);
}
